.faq-column{
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faq-table-contents{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-table-contents h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
.plus{
    font-size: 30px !important;
    cursor: pointer;
    transition: transform 0.1s linear;
}
.plus.rotate {
    transform: rotate(45deg);
  }
.faq-column p{
    color: gray;
    font-weight: 500;
    line-height: 25px;
}