.product-flex-container{
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    
}
.product-card{
    width: 100%;
    height: 350px;
    padding: 25px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: start;
    border-radius: 20px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background: linear-gradient(to right, var(--productCardFirstBgColor), var(--productCardSecondBgColor));
    box-shadow: 0 0 2px rgb(11, 235, 239), 0 0 2px darkorchid;
}
.product-card:hover{
    cursor: pointer;
    scale: 105%;
    transition: .2s ;
    background: linear-gradient(to right, var(--productCardFirstBgColor), var(--productCardSecondBgColor));
    box-shadow: 0 0 10px rgb(11, 235, 239), 0 0 10px darkorchid;
}
.product-card p{
    color: var(--secondaryTextColor);
    font-size: 18px;
    line-height: 27px;
    text-align: start;
}
.product-card h1{
    color: var(--secondaryTextColor);
    text-align: start;
}
@media(max-width:1200px){
    .product-flex-container {
        grid-template-columns: repeat(2,1fr);
    }
    .product-card{
        border: 1px solid var(--whiteColor);
    }
    
}
@media(max-width:600px){
    .product-flex-container{
        width: 80%;
        grid-template-columns: repeat(1,1fr);
    }
    
}