.footer-container{
    width: 100%;
    height: 75vh;
    background-color: #17182d62;
    padding: 30px 30px 0 30px;
}
.footer-content{
    color: var(--secondaryTextColor);
    font-size: 18px;

}
.contact{
    color: var(--secondaryTextColor);
    font-size: 18px;
    letter-spacing: 3px;
}
.footer-first-container a{
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}
.footer-first-container a:hover{
    text-decoration: underline;
}
.footer-datas-container{
    width: 90%;
    margin: 0 auto;
    text-align: start;
    display: flex;
    justify-content: space-between;
}
.footer-first-container img{
    height: 70px;
}
.footer-first-container{
    width: 35%;
}