
.navbar {
    width: 100%;
    padding: 0 5%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--segoeFont);
    position: relative;
    top: 0;
    overflow: hidden;
    transition: background-color 0.3s, box-shadow 0.1s; 
}
.sticky {
    position: fixed;
    top: 0;
    background-color: var(--navStickyBgcolor);
    box-shadow: 0 4px 8px rgba(139, 134, 150, 0.3);
    padding: 0 5%;
    z-index: 10;
}
.nav-menus{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    cursor: pointer;
}
.nav-menus li{
    list-style: none;
}
.nav-menus li a{
    text-decoration: none;
    color: var(--secondaryTextColor);
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    cursor: pointer;
}
.nav-menus li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.4px;
    background: linear-gradient(90deg, var(--navFirstMenuColor), var(--whiteColor));
    transition: width 0.3s ease-in-out;
}
.nav-menus li a:hover::before {
    width: 100%;
}
.nav-menus li a:hover {
    background: linear-gradient(90deg, var(--navFirstMenuColor), var(--navSecondMenuColor));
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    padding-bottom: 2px;
    border-image: linear-gradient(90deg, var(--navFirstMenuColor), var(--navSecondMenuColor)) 1;
}
.nav-active-menu{
    color: var(--activeMenuColor) !important;
    padding-bottom: 2px;
    cursor: pointer;
}
.light-mode{
    color: var(--menuIconColor);
    font-size: 20px;
    cursor: pointer;
}
.dark-mode{
    color: var(--menuIconColor);
    font-size: 20px;
    cursor: pointer;
}
.ModeIcon{
    font-size:25px;
    font-weight: 400;
    color: #ccc;
    cursor: pointer;
}
.mode-btn{
    padding: 15px 25px;
    letter-spacing: 1px;
    color: var(--whiteColor);
    font-size: 14px;
    border-radius: 14px 0px 14px 0px;
    font-family: var(--popinFont);
    background: linear-gradient(20deg, var(--firstgradientColor), var(--secondgradientColor));
    border: none;
    cursor: pointer;
}
.mode-btn:hover{
    background: linear-gradient(200deg, var(--firstgradientColor), var(--secondgradientColor));
    border-radius: 0px 14px 0px 14px;
}
.mode-btn:active{
    background: linear-gradient(200deg, #ff3636, #ec0d0d);
}
.main-container{
    width: 100%;
}

/* .service-section{
    color: white;
    height: 100%;
    margin-top: 40px;
    
} */

.service-intro-section{
    width: 100%;    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-intro-section p{
    color: var(--secondaryTextColor);
    font-size: 18px;
    line-height: 27px;
    margin-top: 12px;
    width: 45%;
}
.service-intro-section h1{
    color: var(--secondaryTextColor);
    font-size: 40px;
    margin-top: 12px;
}
.u-line{
    width: 60px;
    height: 2px;
    background-color: var(--whiteColor);
    margin-top: 3px;
    opacity: 0;
}
.sec-headers{
    font-size: 40px;
    background: linear-gradient(20deg, var(--firstgradientColor), var(--secondgradientColor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
    
}
.sec-headers::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.4px;
    background: linear-gradient(90deg, var(--firstgradientColor), var(--whiteColor));
    transition: width 0.5s ease-in-out;
}
.sec-headers:hover::before {
    width: 70px;
}

.header-container{
    display: flex;
    flex-direction: column;
    align-items: start;

}
.services-grid-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.who-we-are-sec{
    width: 90%;
    margin: 80px auto;
}
.experience-container{
    width: 90%;
    height: 100%;
    border-radius: 20px;
    margin: 150px auto 0 auto;
    background-image: url(../../Assets/shape-dotted-dark-02.svg);
    padding: 50px;
    position: relative;
}
.ex-menu-container h1{
    color: var(--secondaryTextColor);
    font-size: 40px;
}
.ex-menu-container p{
    color: #3D4151;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}
.yeares-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 250px;
    align-items: center;
}
.snake-shape-img{
    position: absolute;
    height: 200px;
    right: 0%;
    bottom: -10%;
}
.baloon{
    position: absolute;
    height: 340px;
    top: -15%;
    left: -3%;
}
.productivity-container{
    width: 90%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--productivityBgColor);
    padding: 0 50px;
    border-radius: 10px 100px 10px 100px;
}
.productivity-contents{
    width: 45%;
    text-align: start;
}
.productivity-contents h1{
    color: var(--productivityHeaderColor);
    font-size: 35px;
}
.productivity-contents p{
    color: var(--secondaryTextColor);
    margin-top: 10px;
    font-size: 18px;
}
.reach-us-btn{
    padding: 15px 32px;
    border-radius:20px;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    letter-spacing: 1px;
    font-size: 16px;
    color: #3A3B3B;
    cursor: pointer;
    background-color: var(--whiteColor);
}
.reach-us-btn:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.reach-us-btn span{
    font-weight: 600;

}
.faqs-container{
    width: 85%;
    margin: 100px auto;  
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faqs-contents p{
    color: var(--secondaryTextColor);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
.faqs-contents h1{
    color: var(--productivityHeaderColor);
    font-size: 34px;
}
.faqs-contents{
    width: 30%;
}
.faqs-table-container{
    width: 50%;
    border: 1px solid var(--tableBorderColor);
    background-color: var(--tableBgColor);
}
.MenuIcon{
    color: var(--menuIconColor);
    font-size: 20px;
    display: none;
}
.NavIcons{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 20px;
}
.sec-3{
    height: 100%;
}
.mobile-nav-container{
    width: 90%;
    height: 70vh;
    background-color: var(--mobileNavBgColor);
    position: absolute;
    right: -100%;
    top: 190px;
    z-index: 10;
    display: none;
}
.enquiry-container{
    width: 30%;
    height: 70%;
    background: rgb(108,209,226);
    background: linear-gradient(120deg, rgba(108,209,226,1) 0%,  rgba(69,162,252,1) 30%, rgba(118,23,206,1) 100%);
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 10px;
    transition: 1s;
    border-radius: 15px;
}
.fields-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.close-icon{
    text-align: end;
    font-weight: 900;
    cursor: pointer;
}
.close-p{
    text-align: end;
}
.enquiry-container input{
    height: 40px;
    width: 90%;
    padding: 0 10px;
    margin: 4px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: all 0.3s ease;
}
.fields-container textarea{
    width: 90%;
    height: 100px;
    width: 90%;
    padding: 10px 10px;
    margin: 8px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: all 0.3s ease;
    resize: none;
}
input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
    margin: 0; 
  }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .enquiry-container input:focus,
  .fields-container textarea:focus{
    border-color: black;
    box-shadow: 0 0 10px black;
    outline: none;
  }
.submit-container{
    width: 90%;
    display: flex;
    justify-content: end;
    margin: 0 auto;
    margin-top: 20px;
}
.submit-btn{
    background-color: #1f1f1fdd;
    color: #F0FFFE;
    border: none;
    border-radius: 10px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #051f29;
}
.no-scroll {
    overflow: hidden;
    background-color: var(--overlayBgColor);
  }
  .features-section{
    width: 100%;
    height: 100%;
  }
  .features-container{
    width: 90%;
    height: 100%;
    margin: 80px auto;
  }
  .features-container img{
    width: 100%;
    height: 100%;
    margin-top: 60px;
  }
  .feature-header{
    font-size: 45px;
    color: var(--FeatureHeaderColor);
  }
  

@media(max-width:1200px){
    .navbar{
        width: 100%;
        height: 190px;
    }
    .MenuIcon{
        display: block;
        font-size: 50px;
        cursor: pointer;
        color: var(--menuIconColor);
    }
    .enquiry-container{
        width: 55%;
        height: 500px;
    }
    .NavIcons{
        gap: 30px;
    }
    .light-mode{
        font-size: 40px;
    }
    .dark-mode{
        font-size: 40px;
    }
    .nav-menus{
        display: none;
    }
    .mode-btn{
        padding: 15px 30px;
        font-size: 24px;
    }
    .service-intro-section{
        width: 85%;
        margin: 0 auto;
        align-items: center;
    }
    .service-intro-section p{
       text-align: start;
       width: 90%;
    }
    .baloon{
        height: 250px;
        z-index: -5;
    }
    .ex-menu-container p {
        font-size: 22px;
        
    }
    .productivity-container{
        padding: 50px;
    }
    .productivity-container img{
        display: none;
    }
    .productivity-contents{
        width: 70%;
    }
    .productivity-contents p{
        margin-top: 24px;
        line-height: 30px;
    }
    .faqs-table-container {
        width: 65%;
    }
    .faqs-contents h1 {
        font-size: 25px;
        color: var(--secondaryTextColor);
    }
    .mobile-nav-container{
        display: block;
        width: 50%;
        height: 70vh;
        top: 185px;
        padding: 10px 50px;
    }
    .mobile-view{
        display: flex;
        flex-direction: column;
        text-align: start;
        padding: 20px 40px;
        gap: 50px;
        height: 70vh;
    }
    .NavItem{
        width: 100%;
    }
    .feature-header{
        font-size: 34px;
        color: var(--FeatureHeaderColor);
    }
}

@media(max-width:600px){
    .navbar{
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
    }
    .mobile-nav-container{
        width: 100%;
        top: 98px;
    }
    .enquiry-container{
        width: 80%;
        height: 500px;
    }
    .mobile-view{
        display: flex;
        flex-direction: column;
        text-align: start;
        padding: 20px 40px;
        gap: 30px;
        height: 90.74vh;
    }
    .nav-logo{
        height: 60px;
    }
    .mode-btn{
        font-size: 10px;
        padding: 10px 12px;
        border-radius: 10px 0px 10px 0px;
    }
    .mode-btn:hover{
        border-radius: 0px 10px 0px 10px;
    }
    .MenuIcon{
        font-size: 20px;
        color: var(--menuIconColor);
    }
    .NavIcons{
        gap: 20px;
    }
    .light-mode{
        font-size: 20px;
    }
    .dark-mode{
        font-size: 20px;
    }
    .intro-section{
        height: 100%;
        flex-direction: column;
        gap: 50px;
    }
    .main-container{
        height: 100%;
    }
    .service-intro-section h1{
        font-size: 22px;
    }
    .service-intro-section p {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        width: 100%;
    }
    .services-grid-container{
        width: 80%;
    }
    .service-intro-section{
        margin-top: 30px;
    }
    .ex-menu-container h1 {
        font-size: 28px;
    }
    .baloon{
        height: 160px;
    }
    .experience-container{
        padding: 10px 10px;
    }
    .yeares-container{
        margin-top: 50px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 50px;
    }
    .snake-shape-img{
        height: 120px;
        bottom: -15%;
    }
    .productivity-container {
        width: 80%;
        padding: 50px 30px;
        flex-direction: column;
        gap: 40px;
        border-radius: 10px 60px 10px 60px;
    }
    .productivity-contents{
        width: 100%;
    }
    .productivity-contents h1{
        font-size: 24px;
    }
    .productivity-contents p{
        font-size: 14px;
        line-height: 24px;
    }
    .faqs-container{
        width: 80%;
        flex-direction: column;
        gap: 50px;
    }
    .faqs-contents{
        width: 100%;
        text-align: center;
    }
    .faqs-table-container{
        width: 100%;
    }
    .feature-header{
        font-size: 30px;
    }
    .features-container{
        width: 80%;
        margin: 50px auto;
    }
    .features-container img{
        margin-top: 30px;
    }
    .ex-menu-container p{
        font-size: 16px;
    }
}