.web-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    color: var(--pricingTextColor);
}
.web-inner{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}
.web-img{
    width: 70%;
    height: 70%;
    display: flex;
    margin-right: 30px;
    /* background-color: #CAE8F5; */
    border: 1px solid var(--webScrapDivBorderColor);
    border-radius: 20px;
}
.webscrap-img{
     width: 100%;
     height: 100%;
     border-radius: 40px;
     object-fit: cover;
}
.web-img:hover .webscrap-img{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
}
.web-contn{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding-left:30px;
}
.web-contn h1{
    margin: 0px 0px 30px 0px;
    font-size: 40px;
   
}
.web-contn p{
    margin: 0px 0px 20px  0px;
    text-align: start;
    line-height: 30px;
    font-size: 18px;
}
.web-contn li{
    margin: 0px 0px 20px  0px;
    text-align: start;
    line-height: 20px;
    font-size: 18px;
}
@media screen and (max-width:600px){
    .web-main{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        color: var(--pricingTextColor);
        padding: 40px;
      
    }
    .web-inner{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
    }
    .web-img{
        width: 100%;
        height: 100%;
        display: flex;
        margin-right: 0px;
    }
    .webscrap-img{
         width: 100%;
         height: 100%;
         border-radius: 40px;
         object-fit: cover;
    }
    .web-contn{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        padding-left:0px;
    }
    .web-contn h1{
        margin: 40px 0px 30px 0px;
        font-size: 30px;
       
    }
    .web-contn p{
        margin: 0px 0px 20px  0px;
        text-align: start;
        line-height: 30px;
        font-size: 14px;
    }
    .web-contn li{
        margin: 0px 0px 20px  0px;
        text-align: start;
        line-height: 20px;
        font-size: 14px;
    }
}